# Third party libraries.
src/3rd-party/gtest/usr/
src/3rd-party/sbg/sb-graph-dev/
src/3rd-party/sbg/sb-graph-dev.tar.gz
src/3rd-party/boost/include/
src/3rd-party/boost/lib/

# Test files
src/test/usr/

# Object files
/src/*.o

# Local Folders
lib/
bin/

# Text Editor
.vscode/

# Ignore tests results.
src/test/system/test_data/*

# Generated partition files.
*.partition

# Generated bear compile_commands.
compile_commands.json